# PostgreSQL
POSTGRES_USER=sfa
POSTGRES_DB=sfa
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=change-me

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=change-me

# Discord
DISCORD_TOKEN=your-bot-token
BLOXLINK_API=your-bloxlink-api-token

# Stats
STATS_UPLOAD_URL = 
STATS_UPLOAD_SECRET = 

# Logging
CONNECTION_WEBHOOK_URL=
STAGE=dev
